.detail {
    display: flex;
    justify-content: center;
    background-color: #ffffff13;
    border-radius: 50%;
    height: 40vw;
    width: 40vw;
    transition: 0.2s;
}

.detail:hover{
  margin-top: -10px;
}

.detailContent {
    margin-top: 20vh;
}

.goBack {
    align-self: center;
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}
.goBack:hover {
  background: linear-gradient(90deg, #1a1a1a 0%, #2a2a2a 45%, #2a2a2a 55%, #1a1a1a 100%);
}
.goBack:focus,
.goBack:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}